on: push
name: Deploy website on push
jobs:
  web-deploy:
    name:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2.3.2

      - name: Build project
        run: |
          npm install
          npm run build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: ${{ secret.FTP_SERVER }}
          username: ${{ secret.FTP_USERNAME }}
          password: ${{ secret.FTP_USERNAME }}
          exclude: .git*
            - .git*/**
            -  **/.git*/**
            - node_modules/**
            - node_modules/**/*
            - public/**/*
            - pages/**
            - pages/**/*
            - lib/**
            - lib/**/*
            - .next/**
            - .next/**/*
